node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
package-mac-signed.sh
*.zip
dist-electron
